
@import url('./root.css');
body{
    overflow-x: hidden;
}
/* main slider
------------------------------*/
.main{
    background: url('../images/bk_stripe.svg');
    background-size: auto 400px;
    margin-bottom: 40px;
    overflow: hidden;
}
.main-inner{
    max-width: 900px;
    position: relative;
    overflow: hidden;
}

.slider .wrap{
    display:block;
    max-width:800px;
    overflow:hidden;
    position:relative;
    margin:0 auto;
    padding: 40px;
}

.pn{
    position:absolute;
    cursor:pointer;
    height:0;
    width:10%;
    padding-bottom: 10%;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.pn.top-prev{
    background: url('../images/slide_prev.svg') no-repeat;
    background-position: left;
    background-size: auto 100%;
}
.pn.top-next{
    background: url('../images/slide_next.svg') no-repeat;
    background-position: right;
    background-size: auto 100%;
    left: 90%;
}

@media (max-width:600px) {
    .pn{
        padding-bottom: 15%;
    }
    .slider .wrap{
        padding: 20px;
    }
}
/*section
---------------*/
section h1{
    color: var(--color-naivy);
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
    padding: 0 20px;
    margin-bottom: 10px;
}
section h1::before{
    content: attr(data-en);
    font-size: 3.6rem;
    margin-right: 10px;
}
@media (max-width:600px) {
    section h1{
        padding:0px;
    }
    section h1::before{
        content: attr(data-en);
        font-size: 2.4rem;
        margin-right: 10px;
    }
}

/* news section
--------------------*/
section.news{
    margin-bottom: 40px;
}
.news-list{
    margin-bottom: 20px;
}
.news-list li{
    padding: 20px;
    border-bottom: 1px var(--color-naivy) solid;
}
    .news-list li:first-child{
        border-top: 1px var(--color-naivy) solid;
    }
    .news-list li span.date{
        padding-right: 20px;
    }
.news-pagelink{
    display: flex;
    justify-content: flex-end;
}
.news-prevnext{
    display: flex;
    justify-content: space-between;
}
a.news-btn{
    background: var(--color-skyblue);
    padding:10px 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}
a.news-btn:hover{
    background: var(--color-blue);
}
@media (max-width:600px) {
    .news-list li{
        padding: 15px;
    }
    .news-list li a{
        font-size:1.4rem
    }
    a.news-btn{
        font-size: 1.5rem;
        padding:8px 10px;
    }
}
/* information section
--------------------*/
section.information{
    margin-bottom: 80px;
}

section.information p{
    line-height: 2.8rem;
    padding:0 20px;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
@media (max-width:600px) {
    section.information p{
        font-size:1.5rem;
        padding:0px;
    }
}

/* open section
--------------------*/
section.open {
    margin-bottom: 80px;
}
section.open h1{
    position: relative;
}
    section.open h1::after{
       content: '定休日：水曜、土曜';
       position: absolute;
       right: 0;
       bottom: 0;
       letter-spacing: 0;
       font-weight: normal;
       color: var(--color-black);
    }
.open-time{
   display: flex; 
   justify-content: stretch;
   border: 2px var(--color-naivy) solid;
   border-radius: 12px;
   overflow:hidden;
}   
.open-time dl{
    flex-basis:calc((100% - 35%) / 7);
}   
    .open-time dl:first-child{
        flex-basis: 35%;
    }
.open-time dl dt,
.open-time dl dd{
    text-align: center;
    padding:15px 10px;
    color: var(--color-naivy);
    border-left: 2px var(--color-naivy) solid;
}
    .open-time dl:first-child dt,
    .open-time dl:first-child dd{
        border-left: none
    }
    .open-time dl dt{
        border-bottom: 2px var(--color-naivy) solid;
        background: #EBE3C7;
    }
    .open-time dl dd:nth-child(2){
        border-bottom: 2px var(--color-naivy) solid;
    }
        .open-time dl dd span{
            font-size: 1.4rem;
        }
@media (max-width:900px) and (min-width:601px) {

    .open-time dl dd{
        height: 30px;
    }
    .open-time dl dd span{
        display: block;
    }
}
@media (max-width:600px) {
    section.open h1::after{
        font-size: 1.3rem;
    }
    .open-time dl dt,
    .open-time dl dd{
        padding:15px 0px;
        font-size: 1.2rem;
    }
    .open-time dl dd{
        height: 20px;
    }
    .open-time dl dd span{
        display: block;
        font-size: 0.9rem;
    }
    
}
@media (max-width:400px) {
    .open-time dl dt,
    .open-time dl dd{
        font-size: 1.0rem;
    }
}
/*section access
-------------------------*/

section.access h1{
    position: relative;
}
    section.access h1::after{
       content: '沖映通り 美栄橋駅から徒歩約4分';
       position: absolute;
       right: 0;
       bottom: 0;
       letter-spacing: 0;
       font-weight: normal;
       color: var(--color-black);
    }
.gmap{
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}

.gmap iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width:600px) {
    section.access h1::after{
        font-size: 1.3rem;
    }
    .gmap{
        position: relative;
        width: 100%;
        padding-bottom: 90%;
    }
}

@media (max-width:415px) {
    section.access h1::after{
        position: relative;
        display: block;
        margin-top: 10px;
        font-size: 1.3rem;
        text-align:right;
    }
}